<h1>Hello</h1>
{{input checked=rejectPromise type="checkbox" class="rejectPromise"}}
{{input checked=dirtyState type="checkbox" class="dirtyState"}}
{{async-button "argument 1" "argument 2" dynamicArgument action="save" default="Save" pending="Saving..." fulfilled="Saved!" rejected="Fail!" reset=dirtyState class="arg-button"}}
{{#async-button action="save" class="template"}}
  This is the template content.
{{/async-button}}
<div id="set-type">
{{async-button}}
{{async-button type="button"}}
{{async-button type="reset"}}
</div>
<div id="promise-bound">
{{async-button promise=promise default="Save" pending="Saving..." fulfilled="Saved!" rejected="Fail!"}}
</div>
<div id="promise-bound-hides">
{{#if shown}}
{{async-button promise=promise default="Save" pending="Saving..." fulfilled="Saved!" rejected="Fail!"}}
{{/if}}
</div>
<div id="tabindex">
  {{async-button tabindex="4"}}
</div>

<div id="accepts-block">
{{#async-button action="save" default="Save" pending="Saving..." fulfilled="Saved!" rejected="Fail!" as |button|}}
  {{button.text}}
{{/async-button}}
</div>
{{outlet}}
